<div class="container">
  <div class="row">
    <div class="column">
      <a mat-flat-button routerLink="/lista-ordem-servico">Lista de Ordens de Serviços</a>
      /
      <a mat-flat-button routerLink="/nova-ordem-servico" >Nova Ordem de Serviço</a>
    </div>
  </div>

  <div class="row">
    <form class="form" fxLayout="column" [formGroup]="formOrdemServico">

      <div class="row border bg-light">

        <!-- Data Inicio -->
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Data Início do Serviço</mat-label>
            <input matInput [matDatepicker]="dataInicio" placeholder="Data Início" formControlName="dataInicio" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Data Final -->
        <div class="col-6" appearance="fill">
          <mat-form-field>
            <mat-label>Data Final do Serviço</mat-label>
            <input matInput [matDatepicker]="dataFinal" placeholder="Data Final" formControlName="dataFinal" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <br />

      <div class="row border bg-light">
        <!-- Cliente -->
        <div class="col-6">
          <mat-form-field>
            <mat-mat-label>Cliente</mat-mat-label>
            <mat-select [formControl]="clienteCtrl" placeholder="Veiculo" #singleSelectCliente>
              <mat-option>
                <ngx-mat-select-search [formControl]="clienteFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente.value">
                {{cliente.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Veiculo -->
        <div class="col-6">
          <mat-form-field>
            <mat-mat-label>Veículo</mat-mat-label>
            <mat-select [formControl]="veiculoCtrl" placeholder="Veiculo" #singleSelectVeiculo>
              <mat-option>
                <ngx-mat-select-search [formControl]="veiculoFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let veiculo of filteredVeiculos | async" [value]="veiculo.value">
                {{veiculo.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <br />

      <!-- Acoes -->
      <div class="row">
        <div class="col-6">
          <button mat-stroked-button color="primary" class="float-left"
            routerLink="/lista-ordem-servico">Voltar</button>
        </div>

        <div class="col-6">
          <button mat-flat-button color="primary" class="float-right">Gravar Nova Ordem se Serviço</button>
        </div>
      </div>

    </form>
  </div>

</div>


